.ansible
.cache
__pycache__

.terraform

/vault/secrets/vault.json

# Don't forget to add them to .ansible-lint
/roles/aruhier.unbound
/roles/cri.restic
/roles/geerlingguy.docker
/roles/ipr-cnrs.nftables
/roles/mrlesmithjr.netplan
/roles/ome.haproxy
/roles/stackhpc.libvirt-host
/roles/stackhpc.libvirt-vm
/roles/xanmanning.k3s
