[defaults]
inventory = ./simple-ansible-inventory.py
roles_path = ./roles
gathering = explicit
remote_user = root
nocows = true
forks = 20
interpreter_python = auto_silent

[ssh_connection]
pipelining = true
control_path_dir = ~/.ssh
control_path = %(directory)s/master-%%r@%%n:%%p
