{{ ansible_managed | comment }}

# See knot.conf(5) or refer to the server documentation.

server:
  rundir: "{{ knot_server_rundir }}"
  user: "{{ knot_server_user }}:{{ knot_server_group }}"
  identity: "{{ knot_server_identity }}"
  nsid: "{{ knot_server_nsid }}"
  version: "{{ knot_server_version }}"
{% for addr in knot_server_listen %}
  listen: "{{ addr }}"
{% endfor %}
{% for addr in knot_server_listen_tls %}
  listen-tls: "{{ addr }}"
{% endfor %}
{% for addr in knot_server_listen_quic %}
  listen-quic: "{{ addr }}"
{% endfor %}
{% if knot_server_cert_file is defined %}
  cert-file: "{{ knot_server_cert_file }}"
{% endif %}
{% if knot_server_key_file is defined %}
  key-file: "{{ knot_server_key_file }}"
{% endif %}

database:
  storage: "{{ knot_database_directory }}"

log:
{% for target in knot_log_targets %}
  - target: "{{ target.target }}"
    any: "{{ target.level }}"
{% endfor %}

key:
{% for id, key in knot_key.items() %}
  - id: "{{ id }}"
    algorithm: "{{ key.algorithm }}"
    secret: "{{ key.secret }}"
{% endfor %}

mod-stats:
  - id: all
    edns-presence: on
    flag-presence: on
    request-edns-option: on
    response-edns-option: on
    reply-nodata: on
    query-type: on
    query-size: on
    reply-size: on

remote:
{% for id, remote in knot_remote.items() %}
  - id: "{{ id }}"
    {% for address in remote.address | d([]) %}
    address: "{{ address }}"
    {% endfor %}
    {% if remote.key is defined %}
    key: "{{ remote.key }}"
    {% endif %}
    {% for via in remote.via | d([]) %}
    via: "{{ via }}"
    {% endfor %}
{% endfor %}

acl:
{% for id, acl in knot_acl.items() %}
  - id: "{{ id }}"
    {% if acl.key is defined %}
    key: "{{ acl.key }}"
    {% endif %}
    {% for address in acl.address | d([]) %}
    address: "{{ address }}"
    {% endfor %}
    {% for action in acl.action | d([]) %}
    action: "{{ action }}"
    {% endfor %}
{% endfor %}

template:
{% for id, template in knot_template.items() %}
  - id: "{{ id }}"
    storage: "{{ template.storage }}"
    file: "{{ template.file }}"
    {% if template.master is defined %}
    master: "{{ template.master }}"
    {% endif %}
    {% for acl in template.acl | d([]) %}
    acl: "{{ acl }}"
    {% endfor %}
    {% for mod in template.global_module | d([]) %}
    global-module: "{{ mod }}"
    {% endfor %}
    {% for mod in template.module | d([]) %}
    module: "{{ mod }}"
    {% endfor %}
{% endfor %}

zone:
{% for zone in knot_zone %}
  - domain: "{{ zone.domain }}"
    {% if zone.catalog_role is defined %}
    catalog-role: "{{ zone.catalog_role }}"
    {% endif %}
    {% if zone.catalog_template is defined %}
    catalog-template: "{{ zone.catalog_template }}"
    {% endif %}
{% endfor %}
